{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'dashboard/assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/css/bootstrap/css/bootstrap.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/icon/icofont/css/icofont.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/custom.css' %}" }
</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}


<!-- Pre-loader end -->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'dashboard/assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'dashboard/assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'dashboard/assets/js/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard/assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'dashboard/assets/js/classie/classie.js' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'dashboard/assets/js/script.js' %}"></script>
<script src="{% static 'dashboard/assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/demo-12.js' %}"></script>
<script src="{% static 'dashboard/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
</body>

</html>
