# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DJANGO ALL PROJECTS\django_portfolio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
